<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <link rel='stylesheet' href="/css/index.css" />
<body>
    <header>
        <img src='/img/logo.jpg' alt='Meadowlark Travel Logo' class='home-logo'/>
    </header>
    {{{body}}}
</body>
</html>
